.side-link:hover{
    background-color: rgb(68, 68, 68) ;
    border-radius: 3px;
}

.side-link::before {
    background-color: black ;
}

.side-link::after {
    background-color: red ;
}

.side-link:active {
    background-color: red ;
}

